@media (max-width: 1399.98px) { 
    .new-season {
        .container-fluid{
            flex-direction: column;
            justify-content: center;
        }
        &__season {
            width: 100%;
            min-width: 0;
        }
        &__collection {
            width: 100%;
        }
    }
    .new-clocks {
        .swiper-watches-first {
            max-width: 1100px;
        }
        .swiper-watches-second {
            max-width: 1100px;
        }
    }
    .brands {
        .swiper-container {
            max-width: 1100px;
        }
    }
}
@media (max-width: 1199.98px) { 
    .new-clocks {
        .swiper-watches-first {
            max-width: 880px;
        }
        .swiper-watches-second {
            max-width: 880px;
        }
    }
    .brands {
        .swiper-container {
            max-width: 880px;
        }
    }
    .footer {
        &__mailing-bottom {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        &__mailing-input {
            width: 100%;
        }
        &__mailing-button {
            width: 100%;
        }
        &__bottom-inner{
            padding: 17px 10px;
        }
    }
}
@media (max-width: 991.98px) {
    .new-season {
        &__collection-title {
            margin: 384px 0 49px 0;
        }
        &__collection-link {
            margin-bottom: 184px;
        }
        .swiper-container {
            max-width: 740px;
        }
        
    }
    .collection {
        .container-fluid {
            flex-direction: column-reverse;
        }
        &__void {
            width: 100%;
        }
        &__void-img {
            width: 100%;
        }
        &__last-general {
            max-width: 100%;
        }
        &__last-general-text {
            width: 100%;
        }
        &__last {
            width: 90%;
        }
    }
    .new-clocks {
        .swiper-watches-first {
            max-width: 740px;
        }
        .swiper-slide {
            &__bottom-price {
                margin-bottom: 10px;
            }
        }
    }
    .brands {
        .swiper-container {
            max-width: 740px;
        }
    }
    .footer {
        &__top-inner {
            max-width: 80%;
        }
        &__shop, &__categories {
            margin-bottom: 30px;
        }
        &__categories-inner {
            justify-content: center;
        }
        &__shop-title, 
        &__categories-title,
        &__mailing-title {
            margin-bottom: 20px;
            text-align: center;
        }
        &__shop-text, &__mailing-text {
            text-align: center;
        }
    }
}
@media (max-width: 767.98px) { 
    .header {
        &__fixed {
            display: none;
        }
        &__top {
            margin-top: 0;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 10;
        }
        &__navigation {
            display: none;
        }
        .burger {
            display: block;
        }
        &__navigation--active {
            position: fixed;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100vh;
            z-index: 15;
            background-color: #000;
            overflow: auto; 
        } 
        .menu--active {
            width: 100%;
            height: 70%;
        }
        .menu-list--active {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
            .menu-list__item {
                margin-left: 0;
                width: 100%; 
                height: 40px;               
            }
            .menu-list__item-link {
                display: inline-block;
                font-size: 36px;
                line-height: 40px;
                z-index: 10;
                width: 100%;
                text-align: center;
                color: #fff;
            }
        }
        .menu-right--active {
            width: 100%;
            height: 30%;
            .header__cart-img {
                transform: scale(2);
            }
            .header__search-img {
                transform: scale(2);
            }
            .header__cart {
                margin-right: 20%;
            }
        }
    }
    .body--active{
        overflow: hidden;
    }
    .new-season {
        &__collection-title {
            margin-top: 200px;
        }
        &__collection-link {
            margin-bottom: 150px;
        }
        .swiper-container {
            max-width: 540px;
        }
    } 
    .new-clocks {
        .swiper-watches-first {
            max-width: 540px;
            
        }
        .swiper-watches-second {
            max-width: 540px;
        }
    }
    .brands {
        .swiper-container {
            max-width: 540px;
        }
    }
}
@media (max-width: 575.98px) { 
    .header {
        &__center-symbol {
            width: 290px;
            height: 290px;
        }
        &__center-text {
            width: 80%;
            margin-bottom: 60px;
        }
        .menu-list--active {
            .menu-list__item-link {
                font-size: 30px;
            }
        }
    }
    .new-season {
        &__season {
            padding: 70px 0 70px;
        }
        .swiper-container {
            max-width: 310px;
        }
        &__collection-title {
            margin-top: 150px;
            width: 80%;
        }
        &__collection-link {
            margin-bottom: 100px;
        }
        .swiper-slide {
            &__bottom-name {
                text-align: center;
            }
            &__bottom-price {
                text-align: center;
            }
        }
    } 
    .collection {
        &__last-general {
            max-width: 80%;
        }
    }
    .new-clocks {
        &__inner {
            padding: 70px 0 70px;
        }
        .swiper-watches-first {
            max-width: 310px;
            .swiper-slide {
                &__bottom-name {
                    text-align: center;
                }
                &__bottom-price {
                    text-align: center;
                }
            }
        }
        .swiper-watches-second {
            max-width: 310px;
            .swiper-slide {
                &__bottom-name {
                    text-align: center;
                }
                &__bottom-price {
                    text-align: center;
                }
            }
        }
    }
    .brands {
        .swiper-container {
            max-width: 310px;
        }
    }
    .footer {
        &__top-inner {
            padding: 50px 0 50px;
        }
    }
}